html {
  body {
    margin: 5rem;
    font-family: "Roboto", serif;

    .home {
      margin-top: 20em;
      input[type="submit"] {
        display: block;
        margin: 0 auto;
      }
    }

    .user-profile {
      position: fixed;
      height: 90px;
      width: 90px;
      border-radius: 50%;
      overflow: hidden;
      top: 15px;
      bottom: 0;
      left: 50%;
      right: 50%;
      margin-left: -10%;
      background-size: 100% !important;
      background-repeat: no-repeat !important;
      background-position: top center !important;
      border: 1px solid #333333;
      cursor: pointer;
    }
  }
}